.PageMenu {background-color: rgb(94, 94, 69);}
.header {background:none repeat scroll 0 0 rgb(230, 229, 216) !important;}
#Header .inner {
    background: none repeat scroll 0 0 transparent;
}
.TopMenu, .TopMenu a {color:#333 !important; font-size:12px !important;}
.PageMenu .sf-menu > li > a {color:#fff !important;}
/*.TopMenu ul {padding-right: 45px !important;}*/
.TopMenu li {padding: 0px 24px !important;text-decoration:underline;margin:0px 6px !important;}
.TopMenu li:last-child {padding:0px 30px !important;}
.con_sign {float: right;width: 18%;}
#SearchForm {float: left !important;width:80% !important; margin:2px;}
#SearchForm input {height:20px !important;line-height:22px !important;}
#SearchForm .Button {height:20px !important;}
.srch {float:left;margin:0px 10px;}
.cmpt_src {float:left;border:1px solid #d6d4c0;padding:5px;width:60%;margin:0px 10px 0px 20px;}
.main .inner {background: none repeat scroll 0 0 #fff;padding: 15px;}
.page {background: url("https://cdn5.bigcommerce.com/s-02srje60/product_images/uploaded_images/bkg-sitecontent.gif?t=1424468992") repeat scroll 0 0 rgba(0, 0, 0, 0);}
#SearchForm .Button {background:url("https://cdn3.bigcommerce.com/s-hnmse/product_images/uploaded_images/btn-find.png?t=1424712193") no-repeat scroll 100% transparent !important;}
#LayoutColumn1 {
    float: left;
    width: 80%;
}
#LayoutColumn2 {
    float: right;
    width: 20%;
}

.homeimg1 > img {width: 100%;}
.footer-main {background: none repeat scroll 0 0 rgb(230, 229, 216) !important;}
.footer-links {background: none repeat scroll 0 0 #cdccba !important;color:#333 !important;}
.footer-links a {color:#333 !important;}

.recentlyViewed {
    background: url("https://cdn5.bigcommerce.com/s-02srje60/product_images/uploaded_images/bkg-recentlyviewed.gif?t=1424474913") repeat-y scroll left top rgba(0, 0, 0, 0);
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 10px;
}
.recentlyViewed h3 {
    background-color: #9a967f;
    color: #fff;
    font-family: BebasRegular,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 2px;
    padding: 6px 5px 6px 8px;
    text-transform: uppercase;
    word-spacing: 3px;
}
.recentlyViewed .borderTop {
    background-color: #9a967f;
    height: 1px;
    overflow: hidden;
}
.recentlyViewed .content_rvi {padding:10px;}
.footer_txt {
    float: left;
    margin-top: 5px;
}
#footerlg {float:left;}
.frtrgt_img {
    float: right;
    width: auto;
}

.home_imgs {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.left_img2 {
    float: left;
    width: 51%;
}
.right_img3 {
    float: left;
    width: 49%;
}
#right_img4 {margin-top: 15px;}
.left_img5 {float:left; width:100%; margin-top: 10px;}
.left_img5 img {width: 99.4%;}
.left_img6 {
float: left;
width: 50%;
}