.PageMenu {background-color: rgb(94, 94, 69);}
.header {background:url("https://cdn5.bigcommerce.com/s-qentha4/product_images/uploaded_images/bkg-headergradient.gif?t=1424454359") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}
#Header .inner {
    background: none repeat scroll 0 0 transparent;
}